# Compiled and build artifacts
*.o
*.obj
*.out

# Binaries
nexsus-server

# Dependencies
vendor/

# Logs
*.log
*.tmp

# Environment
.env
.env.local
*.env.*

# Editors
.vscode/
.idea/

# Binary/executable files
*.exe
*.dll
*.so
*.a